$very-light-green: hsl(43, 28, 82);
$soft-green: hsl(84, 16, 61);
$blue-green: hsl(170, 12, 40);
$dark-pink: hsl(8, 24, 54);
$light-pink: hsl(351, 71, 89);

$white: hsl(220, 33, 98);
$grey: hsl(60, 0, 53);