header {
  background-color: $white;
  background: no-repeat linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), 
  url('../assets/headerrightimage.jpg');
  background-size: cover;
  background-position: bottom 0 left 0;
  display: grid;
  place-items: center;


  h4 {
    @include bp(sm) {
      font-size: 3rem;
    }
    font-family: $opensans;
    font-size: 6rem;
    color: $white;
    text-shadow: 1px 1px 2px $light-pink;
    margin: .4rem 0;
    padding: 0;
  }

  .period {
    color: $dark-pink;
    text-shadow: 1px 1px 2px $light-pink;
    font-size: 10rem;
  }

  h6 {
    @include bp(sm) {
      font-size: 1.5rem;
    }
    @extend h4;
    font-size: 2.5rem;
  }
}