//Breakpoints for Media Queries
@mixin bp($point) {

  @if $point==xs {
    @media only screen and (max-width: 350px) {
      @content;
    }
  }

  @else if $point==sm {
    @media only screen and (max-width: 620px) {
      @content;
    }
  }

  @else if $point==md {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @else if $point==lg {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }

  @else if $point==xl {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }

  @else {
    @media only screen and (max-width: $point) {
      @content;
    }
  }
}

.containerdiv {
  @include bp(sm) {
  grid-template-rows: 35rem 5rem 1fr auto 5rem;
  grid-template-areas: 
  "header"
  "nav"
  "work"
  "writing"
  "footer";
  }
  display: grid;
  grid-template-rows: 40rem 10rem auto 1fr auto 5rem;
  grid-template-columns: 100%;
  grid-template-areas: 
  "header"
  "nav"
  "aboutme"
  "work"
  "writing"
  "footer";

  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  .about-me{
    @include bp(sm) {
      display: none;
    }
    grid-area: aboutme;
    margin-bottom: 2rem;
  }
  .workheader {
    grid-area: work;
    margin-top: 3rem;
  }
  .writingheader {
    grid-area: writing;
    margin: 2rem 0;
  }
  footer {
    grid-area: footer;
    background-color: $dark-pink;
    color: $white;
    font-family: $ptmono;
    display: grid;
    place-items: center;
  }

}


.tab {
  padding-left: 20px;
}