.worksamples {
  grid-area: work;

  .sample {
    @include bp(xs) {
      grid-template-rows: 30rem 25rem;
      grid-template-columns: 100%;
      grid-template-areas: 
      "image"
      "content";
    }
    @include bp(sm) {
      grid-template-rows: 25rem;
    }
    background-color: $blue-green;
    padding: 3rem .5rem;
    display: grid;
    grid-template-rows: 35rem;
    grid-template-columns: 50% 50%;
    grid-template-areas: "image content";

    .imageHolder {
      grid-area: image;
      overflow: hidden;

      img {
        width: 100%;
        min-height: 100%;
        height: auto;
        margin: 0;
        padding: 0;
      }
    }

    .content {
      @include bp(xs) {
        display: grid;
        place-items: center;
      }
      grid-area: content;
      font-family: $opensans;

      h4 {
        @include bp(xs) {
          margin-top: 3rem;
        }
        font-size: 2rem;
        line-height: 2.5rem;
        color: $white;
        margin: 0;
        text-align: center;
      }
      .demoInfo {
        color: $light-pink;
        font-size: 1rem;
        letter-spacing: .02rem;
        margin: 1rem .5rem 3rem .5rem;
      }

      .links {
        display: flex;
        flex-flow: row wrap;

        p, a {
          font-size: 1rem;
          color: $white;
          letter-spacing: .02rem;
          margin: 1rem .5rem;
          cursor: pointer;

          &:hover {
            color: $light-pink;
          }
        }
      }

      }




    }

    .notHovered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .description {
        display: none;
      }
    }

    .hovered {
        display: grid;
        place-content: center;

        .hideOnHover {
          display: none;
          visibility: hidden;
        }

        .description {
          display: grid;
          place-content: center;

          p {
            font-size: 1rem;
            letter-spacing: .02rem;
            margin: 1rem .5rem;
            text-align: center;
          }
          
          .description-text {
            background-color: $white;
            color: $blue-green;
            padding: 5px;
          }

          .viewOverview {
            cursor: pointer;
            color: $white;
            &:hover {
              color: $light-pink;
            }
          }
        }
}


}
